<h1> Shadow Kitsunes Favorite Quotes </h1>    
<h1><%= @quote.saying %></h1>
<h2>-<%= @quote.whosaidit %></h2>
<h3><%= @quote.where %></h2>
<h3><%= @quote.what %></h2>
<h4><%= @quote.genre %></h4>